{% extends "base.html" %}
{% block content %}

<h2>Login</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p}}
    <button type ="submit" class="btn btn-primary">Login</button>
    <h1>HAvent registered yet? Click here:  <a href="/signup/" type="submit" class="btn" style="background-color: #4f868c; color: white;">Signup</a> </h1>
 <input type="submit" value="Submit" class="btn" style="background-color: #4f868c; color: white; font-size: larger; width: 8rem;">

</form>

{% endblock %}